.msg_box {
  min-width: 60px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  &_send {
    background-color: #78e08f;
  }
}
.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  &_send {
    right: 0;
  }
}

.msg_writer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  span {
    font-size: 13px;
    color: white;
  }
}
